body {
    background: #ffe url("https://nalib.github.io/parliament/page_resources/fade.png") top center repeat-x;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    border: none;
    border-top: 1px solid #d9bfb7;
    height: 0;
}

a,
a:visited {
    color: #00e;
    text-decoration: none;
}

a:hover {
    color: red!important; 
}

div#nav {
    font-size: 9pt;
    color: #b86;
    display: block;
    text-align: center;
}

div#nav a {
    font-weight: 400;
    padding: 1px;
    text-decoration: none;
    color: maroon;
}

div#constitution {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    clear: both;
}

div#schedule {
    width: 468px;
    margin: auto;
    font-size: 11px;
}

div#schedule h3 {
    text-align: center;
}

div#schedule ul {
    margin: 0;
}

div#hide-schedule {
    text-align: right;
    display: block;
}

div#ctrl-links {
    clear: both;
}

div.banner {
    text-align: center;
    clear: both;
}

div.bannerImage {
    margin: 5px auto;
    width: 200px;
    height: 200px;
    max-width: 100%;
}

div.bannerTitle {
    font-family: Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 0;
}

hr.underBanner {
    width: 90%;
}

div.segment {
    background-color: #f0e0d6;
    border: 1px solid #d9bfb7;
    border-left: none;
    border-top: none;
    display: table;
    padding: 2px;
    margin: 4px 0;
}